PORT=8080
DATABASE_URL=postgres://postgres:password@db:5432/avito_mvp?sslmode=disable
ADMIN_TOKEN=replace_me
USER_TOKEN=replace_me
AUTHOR_TOKEN=replace_me
REVIEWER_TOKEN=replace_me
LOG_LEVEL=info
MAX_DB_CONNS=20
MIGRATIONS_DIR=/migrations
ENV=dev
POSTGRES_DB=avito_mvp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false